*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #333;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: auto;
    width: 320px;
    padding: 20px;
    border-radius: 8px;
    background-color: #444;
    display: flex;
    flex-direction: column; 
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.clock{
    font-family: monospace ;
    color: yellow;
}
.clock span {
    display: inline-block;
    width: 60px;
    text-align: center;
    background-color: #333;
    padding: 10px;
    font-size: 32px;
}
.bttn{
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}